.bookedBg{
      background: url('https://i.ibb.co/vZypPxq/bg4.jpg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      width: 100%;
      padding: 100px 0;
}