.SubscribeBg{
    background:url('https://i.ibb.co/PN6YS7R/1.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    padding: 100px 0;
}