.errorBg{
    background: url('https://i.ibb.co/gwYvp21/anet-internet-404-085981.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}